*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*maneira de criar variaveis*/
:root {
    --color-primary:#4c6daf;
    --color-light:#e0e0e0;
    --color-white:#ffffff;
    --color-dark:#2c2c2d;
    --color-dark-hover:#525254;
    --color-gray-700:#444;
    --color-gray-300:#ccc;
    --border-radius-sm:0.25rem;
    --box-shadow-sm: 0 2px 6px black;   
    --paddin-sm:1rem;
}

body{
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    /* essa altura minima faz com que toda tela seja preenchida*/
    min-height: 100vh;
    
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas: 
    " header  header"
    " sidebar content"
    " siderbar footer"
                      ;
}

header{
    grid-area: header;

    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1.5rem;
    padding: 0 1rem;
    /*esse grid abaixo serve apenas para alinhar verticalmente*/
    display: grid;
    align-content: center;
}

.sidebar{
    grid-area: sidebar;
    background-color: var(--color-dark);
    padding-top: 1rem 0;
}

.sidebar ul{
    /*tira as bolinhas da lista*/
    list-style: none;   
}

.sidebar a{
    color: var(--color-white);
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
}

.sidebar a:hover{
    background-color: var(--color-dark-hover);
}


.content{
    grid-area: content;

    display: grid;
    align-content: start ;
    gap: 2rem;
    padding: 2rem;
}

.stats-section{
    display: grid;
    align-items: start;
    justify-items: start;
    /*essa propriedademax-content serve para ser o tamanho necessario para couber todo o conteudo*/
    grid-template-columns:  repeat(4,max-content);
    gap: 2rem;
}


/*maneira de estilizar tres sessoes de uma vez
caso necessario, se a estilizacao for a mesma*/
.card,
.chart-section,
.table-section{
    background-color: var(--color-white);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow-sm);
    padding: var(--paddin-sm);
}

.card{
    text-align: center;
}

.card h3{
    margin-bottom: 0.5rem;
    background-color: var(--color-primary);
}

.card p{
    color: var(--color-gray-700);
    font-size: 1.5rem;
    /*abaixo deixa em negrito*/
    font-weight: 700;
}

/* maneira de estilizar du  */
.chart-section h2,
.table-section h2{
    margin-bottom: 1rem;
}



.chart-placeholder{
    background-color: #cccccc;
    color: #777;
    display: grid;
    height: 12rem;
    place-content: center;
}

.charts{
    display: grid;
    gap: var(--paddin-sm);
    grid-template-areas:  
    "chart1 chart2 chart3"
    "chart4 chart4 chart4";

}

#chart1{
    grid-area: chart1;
}

#chart2{
    grid-area: chart2;
}

#chart3{
    grid-area: chart3;
}

#chart4{
    grid-area: chart4;
}

table{
    /*junta as bordas da tabela*/
    border-collapse: collapse;
    width: 100% ;
}

table th,
table td{
    /*adiociona as linhas na tabela*/
    border-bottom: 1px solid var(--color-gray-300) ;
    padding: var(--paddin-sm);
}

table th{
    /*e comum alinhar o texto para a esquerda 
    nas tabelas para ficar certinho com os textos*/
    text-align: left;
    background-color: var(--color-primary);
}

table tr:hover{
    background-color: var(--color-light);
}

footer{
    grid-area: footer;

    background-color: var(--color-primary);
    color: var(--color-white);
    display: grid;
    place-content: center;
}   