*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-FundoBranco: #ffffff;
    --color-FundoClaro: #e0e0e0;
    --color-MainColor: #6c63ff;
    --color-FundoDark: #2c2c2e;
    --color-FundoBlack: #070707;


}

body{
    background-color: var(--color-FundoClaro)
}

.foto-galera img{
    width: 428px ;
    height: 500px;
}

.hero{
    font-size: 1rem;
    position: absolute;
    top: 0 ;
    color: #ffffff;
    max-height: 10rem;
}

.hero-content{
    display: grid;
    padding: 10rem 1rem;
    max-width: 15rem;
}

.speakers h2{
    display: grid;
    padding: 2rem 2rem;
    align-items: center;
    font-size: 2rem;
}

.speakers{
    padding-bottom: 2rem;
}

.speakers-grid{
    gap: 1rem;
}

.speaker-card{
    background-color: var(--color-FundoBranco);
    display: grid;
    justify-content: center;
    padding-bottom: 2rem;
    border-radius: 1rem;
    padding-top: 1rem;

}

.speaker-card img{
    border-radius: 5rem;
    
}